body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    
    background-image: url(prof.png);
    color: #f7d46c;
    text-align: center;
    padding: 1em 0;
    background-position: center;
    background-size: auto;
  }

 

  h2 {
    color: #ffffff;
  }
  p{
    color: #ffffff;
  }

  #home {
    background-image: url(home.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #about {
    background-image: url(about\ me.jpg);
    background-position: center;
    background-size: cover;
  }

  #contact{
    background-image: url(contacts.jpg);
    background-position: center;
    background-size: cover;
  }

  #contact-form{
    color: #ffffff;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 10px;
  }
  
  section {
    padding: 50px;
  }
  
  footer {
    background-color: #f5f5f5;
    color: #000000;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    section {
      padding: 20px;
    }
  }
  body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
   
  }
  ul { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  @media screen and (max-height: 300px) {
      ul {
          margin-top: 40px;
      }
  }
  


  /** home **/ 

  

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

:root {
	
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #fafafa;
}

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #f5f4f4;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	
	margin: -1rem -1rem;
}

.gallery-item {
	
	flex: 1 0 24rem;
	
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}



@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}

/** about **/

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', 'sans-serif';
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  padding-left:2rem;
  padding-right:2rem;
}

.container-deep{
  padding-left:8rem;
  padding-right:8rem;
}

/*about-me start*/

.about-me .card{
  background:rgba(73, 73, 73, 0.404);
  box-shadow:2px 2px 15px rgba(0,0,0,0.4);
  padding:4rem;
  display:flex;
  border-radius:10px;
}

.about-me .card-info{
  margin-left:5rem;
  display:flex;
  flex-direction: column;
}

.about-me .card .card-info h1{
  margin-top:.3rem;
  margin-bottom:1rem;
  font-size:2rem;
  font-weight: bold;
  color: #f5f4f4;
}

.about-me .card .card-info h3{
  margin-top:.3rem;
  margin-bottom:1rem;
  font-size:2rem;
  font-weight: bold;
  color: #f5f4f4;
}

.about-me .card .card-info p{
  opacity:.8;
  margin-bottom:1rem;
}

.about-me .card .card-info a{
  background:black;
  border: 1px solid black;
  color:rgba(255, 255, 255, 0.979);
  padding: .7rem 1.5rem .7rem 1.5rem;
  align-self: flex-end;
  justify-self: center;
}

.about-me .card .card-info a:hover{
  background:rgba(255, 255, 255, 0.233);
  color:rgb(3, 3, 3);
  border: 1px solid rgba(85, 85, 85, 0.171);
}

.about-me .card .card-image img{
width: 350px;;
}


/*about-me end*/

/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.767);
  overflow: auto;
}

/* Style for the modal content */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
}

/* Style for the close button */
.close {
  color: white;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 30px;
  cursor: pointer;
}

/* Style for the zoomed-in image */
.zoomed-image {
  width: 100%;
  height: auto;
  
}

/** contact **/ 

.contact-section {
  background-color: #30303070;
  padding: 50px 0;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
}

#contact h2 {
  text-align: center;
  color: #ffffff;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

#contact label {
  margin-bottom: 8px;
}

#contact input,
#contact textarea,
#contact select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #4d4d4d70;
  border-radius: 4px;
}

#contact button {
  background-color: #00000046;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#contact button:hover {
  background-color: #83838363;
}

#contact p{
  text-align: center;
  padding: 100px;
}



    